@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    ViewData["Title"] = "Table Maintenance";
    string[] TableHeaders = new string[] {
         ""
        ,""
        ,"AuthorID"
        ,"FirstName"
        ,"MiddleInitial"
        ,"LastName"
        ,"Affiliation"
        ,"Department"
        ,"Address"
        ,"City"
        ,"State"
        ,"ZipCode"
        ,"PhoneNumber" };
}


<br />
<br />
<br />
<br />
<h1 class="table-header">Table Maitenance</h1>
<div class="table-maitenance-container">
    <a class="add-btn" asp-controller="Admin" asp-action="AddAuthor">Add</a>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                                <th class="table-row">
                                    @head
                                </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                                <tr>
                                    <td class="table-row"><a asp-controller="Admin" asp-action="ModifyAuthor" asp-route-AuthID="@Data.AuthorID">Modify</a></td>
                                    <td class="table-row"><a asp-controller="Admin" asp-action="DeleteAuthorData" asp-route-AuthID="@Data.AuthorID">Delete</a></td>
                                    <td class="table-row">@Data.AuthorID</td>
                                    <td class="table-row">@Data.FirstName</td>
                                    <td class="table-row">@Data.MiddleInitial</td>
                                    <td class="table-row">@Data.LastName</td>
                                    <td class="table-row">@Data.Affiliation</td>
                                    <td class="table-row">@Data.Department</td>
                                    <td class="table-row">@Data.Address</td>
                                    <td class="table-row">@Data.City</td>
                                    <td class="table-row">@Data.State</td>
                                    <td class="table-row">@Data.ZipCode</td>
                                    <td class="table-row">@Data.PhoneNumber</td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
