@{
    Layout = "~/Views/Shared/Reviewer_Layout.cshtml";
    string[] TableHeaders = new string[] {
         " "
        ,"ReviewID"
        ,"PaperID"
        ,"ReviewerID"
        ,"AppropriatenessOfTopic"
        ,"TimelinessOfTopic"
        ,"SupportiveEvidence"
        ,"TechnicalQuality"
        ,"ScopeOfCoverage"
        ,"CitationOfPreviousWork"
        ,"Originality"
        ,"ContentComments"  
        ,"OrganizationOfPaper"
        ,"ClarityOfMainMessage"
        ,"Mechanics"
        ,"WrittenDocumentComments"
        ,"SuitabilityForPresentation"
        ,"PotentialInterestInTopic"
        ,"PotentialForOralPresentationComments"
        ,"OverallRating"
        ,"OverallRatingComments"
        ,"ComfortLevelTopic"
        ,"ComfortLevelAcceptability"
        ,"Complete"
        };
}

<br />
<br />
<br />
<br />
<h1>Hello</h1>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td><a asp-controller="Reviewer" asp-action="openReview" asp-route-ReviewID="@Data.ReviewID" asp-route-ReviewerID="@Data.ReviewerID">Review Paper</a></td>
                            <td>@Data.ReviewID</td>
                            <td>@Data.PaperID</td>
                            <td>@Data.ReviewerID</td>
                            <td>@Data.AppropriatenessOfTopic</td>
                            <td>@Data.TimelinessOfTopic</td>
                            <td>@Data.SupportiveEvidence</td>
                            <td>@Data.TechnicalQuality</td>
                            <td>@Data.ScopeOfCoverage</td>
                            <td>@Data.CitationOfPreviousWork</td>
                            <td>@Data.Originality</td>
                            <td>@Data.ContentComments</td>
                            <td>@Data.OrganizationOfPaper</td>
                            <td>@Data.ClarityOfMainMessage</td>
                            <td>@Data.Mechanics</td>
                            <td>@Data.WrittenDocumentComments</td>
                            <td>@Data.SuitabilityForPresentation</td>
                            <td>@Data.PotentialInterestInTopic</td>
                            <td>@Data.PotentialForOralPresentationComments</td>
                            <td>@Data.OverallRating</td>
                            <td>@Data.OverallRatingComments</td>
                            <td>@Data.ComfortLevelTopic</td>
                            <td>@Data.ComfortLevelAcceptability</td>
                            <td>@Data.Complete</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
