@{
    ViewData["Title"] = "Table Maintenance";
    string[] TableHeaders = new string[] {
         ""
        ,""
        ,"AuthorID"
        ,"FirstName"
        ,"MiddleInitial"
        ,"LastName"
        ,"Affiliation"
        ,"Department"
        ,"Address"
        ,"City"
        ,"State"
        ,"ZipCode"
        ,"PhoneNumber" };
}


<h1>@ViewData["Title"]</h1>

<a asp-controller="Home" asp-action="AddAuthor">Add</a>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                            <th>
                                @head
                            </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                            <tr>
                                <td><a asp-controller="Home" asp-action="ModifyAuthor" asp-route-AuthID="@Data.AuthorID">Modify</a></td>
                                <td><a asp-controller="Home" asp-action="DeleteAuthorData" asp-route-AuthID="@Data.AuthorID">Delete</a></td>
                                <td>@Data.AuthorID</td>
                                <td>@Data.FirstName</td>
                                <td>@Data.MiddleInitial</td>
                                <td>@Data.LastName</td>
                                <td>@Data.Affiliation</td>
                                <td>@Data.Department</td>
                                <td>@Data.Address</td>
                                <td>@Data.City</td>
                                <td>@Data.State</td>
                                <td>@Data.ZipCode</td>
                                <td>@Data.PhoneNumber</td>
                            </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
